
/* -------------------base styles----------------- */
@font-face {
    font-family: 'canva-font-1';
    src: url(assets/fonts/762fe37b99d49707e783d6281412d12f.woff2);
}
@font-face {
    font-family: 'canva-font-2';
    src:url(assets/fonts/cff149ee1e9d2be50ac77bcd86769d05.woff2)
}
*{
    box-sizing: border-box;
}
html,body,p,h1,h2,h3,h4,h5,h6,nav,ul,ol,li,button{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/* -------------------header---------------------- */
.header{
    background-color: #fff;
    box-shadow: 0 2px 4px -1px rgba(57,76,96,.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.header-container{
    padding: 0 16px;
    width: 100%;
}
.header-contents-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 72px;
    padding: 16px 0;
}
.hamburger-menu-container{
    flex-shrink: 0;
    margin-left: -12px;
    margin-right: 4px;
}
.hamburger-menu-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    max-width: 100%;
    padding: 0 16px;
    border: none;
    cursor: pointer;
    background-color: rgba(13,18,22,0);
    color: #0d1216;
    vertical-align: middle;
}
.canva-logo-container{
    flex-shrink: 0;
    width: 64px;
    margin-right: 8px;
}
.canva-logo{
    display: block;
    width: 100%;
    height: 100%;
}
.header-searchbar-container{
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: auto;
    height: 40px;
    width: 100%;
    z-index: 1;
}
.header-searchbar{
    min-height: 40px;
    background-color: #fff;
    border-radius: 8px;
}
.searchbar-container{
    height: 40px;
    padding-right: 12px;
    background-color: #fff;
    border: 1px solid rgba(53,71,90,.2);
    border-radius: 8px;
    color: #0d1216;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    cursor: text;
    width: 100%;
}
.search-icon-container{
    flex: 1 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
    padding-right: 4px;
}
.search-icon{
    display: inline-flex;
    align-items: center;
    margin: 0 4px;
    width: 24px;
    height: 24px;
}
.header-search-icon{
    display: block;
    width: 100%;
    height: 100%;
}
.header-input{
    padding: 0 0 1px;
    border: 0;
    margin:0;
    min-width: 8px;
    width: 100%;
    background-color: #fff;
    font-family: 'canva-font-2';
    font-size: 14px;
    font-weight: 400;
    font-variant-ligatures: none;
    font-variation-settings: "opsz" 0;
    line-height: 22px;
    letter-spacing: normal;
    outline: none;
}
.header-nav-container{
    display: none;
}
.header-buttons-container{
    display: none;
}

/* ---------------------main----------------- */
.main-grid-container{
    display: grid;
    grid-template-columns: auto minmax(0,1fr);
    grid-template-rows: 1fr;
    margin: 0 auto;
    max-width: 2560px;
    width: 100%;
    margin-top: 72px;
}
main{
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
}
.main-container{
    flex-grow: 1;
    padding: 0 16px;
}
.main-home-nav{
    display: none;
}
.main-head-container{
    padding-top: 16px;
}
.main-head-grid-container{
    display: grid;
    grid-auto-columns: minmax(0,1fr);
    grid-gap: 16px;
    justify-items: stretch;
    isolation: isolate;
    position: relative;
    padding-bottom: 16px;
}
.main-head-flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    min-height: 160px;
    background-color: rgba(254,254,254,0.25);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .01), rgba(0, 0, 0, .1));
    border-radius: 12px;
    overflow: hidden;
}
.head-content-container{
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-wrap: balance;
    align-self: center;
    min-width: max(60%, calc(100% - 160px));
    padding: 16px;
}
.head-content{
    display: grid;
    grid-template-columns: minmax(0,1fr);
    grid-row-gap: 8px;
    justify-items: stretch;
    width: 100%;
}
.heading{
    font-family: 'canva-font-2';
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: start;
    overflow-wrap: break-word;
    color: #0d1216;
    text-size-adjust: none;
    font-feature-settings:"ss02","ss03";
    font-variation-settings: "opsz" 100;
}
.head-description{
    font-family: 'canva-font-2';
    font-size:16px;
    font-weight: 400;
    line-height: 26px;
    font-variation-settings: "opsz" 0;
    overflow-wrap: break-word;
    text-size-adjust: none;
    text-align: start;
    color: #0d1216;
}
.head-image-container{
    display: none;
}
.sliding-section{
    display: flex;
    flex-flow: row nowrap;
    isolation: isolate;
    min-width: 0;
    position: relative;
}
.sliding-btn{
    display: none;
}
.section-grid{
    display: grid;
    grid-template-columns: minmax(0,1fr);
    justify-items: stretch;
    grid-row-gap: 16px;
}
.section-flex{
    display: flex;
    min-width: 0;
}
.section-container{
    min-width: 0;
}
.section-nav-container{
    display: flex;
    flex-flow: row nowrap;
    margin: 0 -16px;
    min-width: 0;
    isolation: isolate;
    position: relative;
}
.nav-items-container{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 0;
    scrollbar-width: none;
}
.nav-item-container{
    padding-right: 8px;
    flex: none;
    scroll-snap-align: start;
    font-size: 10px;
}
.nav-item-container:first-child{
    padding-left: 16px;
}
.nav-item-container:last-child{
    padding-right: 16px;
}
.nav-item{
    display: flex;
    height: 100%;
}
.nav-link{
    text-decoration: none;
}
.section-nav-btn{
    max-width: 200px;
    width: auto;
    height: 40px;
    padding: 0 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: none;
    user-select: none;
    background-color: rgba(13,18,22,0);
    color: #0d1216;
    font-weight: 400;
    box-shadow: inset 0 0 0 1px rgba(53,71,90,.2);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    transition: .15s ease-in-out;
    transition-property: color, background-color, box-shadow;
    font: inherit;
}
.nav-text{
    font-family: 'canva-font-2';
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    text-size-adjust: none;
    font-variation-settings: "opsz" 0;
    overflow-wrap: break-word;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* --------------- filters section -------------------- */
.filters-sticky-container{
    position: sticky;
    top: 72px;
    z-index: 1;
}
.filters-section-wrapper{
    background:#Fff;
    margin: 0 -16px;
    padding: 16px;
}
.filters-section-container{
    display: flex;
    flex-flow: row nowrap;
    margin: 0 -16px;
    isolation: isolate;
    min-width: 0;
    position: relative;
}
.filters-overflow-container{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    z-index: 0;
}
.filters-btn-section{
    padding-left: 16px;
    padding-right: 8px;
    flex: none;
    scroll-snap-align: start;
}
.filter-btn{
    width: 40px;
    max-width: 100%;
    height: 40px;
    padding: 0 15px;
    background-color: rgba(13,18,22,0);
    border: 1px solid rgba(53,71,90,.2);
    border-radius: 8px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'canva-font-1';
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    overflow-wrap: break-word;
    text-size-adjust: none;
    font-variation-settings: "opsz" 0;
}
.filter-icon-container{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}
.filter-icon{
    display: block;
    height: 100%;
    width: 100%;
}
.filters-section{
    padding-right: 16px;
    flex: none;
    scroll-snap-align: start;
}
.filters{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}
.filter-category-btn{
    border: none;
    user-select: none;
    background: none;
    outline: none;
    background-color: rgba(13,18,22,0);
    box-shadow: inset 0 0 0 1px rgba(53,71,90,.2);
    padding: 0 12px;
    max-width: 200px;
    width: auto;
    height: 40px;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    font: inherit;
    font-weight: 400;
    transition: .15s ease-in-out;
    transition-property: color, background, color, box-shadow;
}
.filter-btn-text{
    text-align: start;
    font-family: 'canva-font-2';
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    text-size-adjust: none;
    font-variation-settings: "opsz" 0;
    overflow-wrap: break-word;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.filter-btn-icon{
    margin-left: 8px;
    margin-right: -2px;
    align-self: center;
    display: inline-flex;
    align-items: center;
    width: 16px;
    height: 16px;
}
.filter-arrow-icon{
    display: block;
    height: 100%;
    width: 100%;
}
/* ------------------main content grid--------------- */
.main-content-grid-container{
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-row-gap: 16px;
    justify-items: stretch;
    width: 100%;
}
.main-content-grid{
    display: grid;
    grid-template-columns: minmax(0,1fr);
    justify-items: stretch;
    grid-gap: 16px;
    padding-bottom: 16px;
    isolation: isolate;
    position: relative;
}
.resumes-grid-container{
    display: grid;
    grid-template-columns: minmax(0,1fr);
    justify-items: stretch;
    width: 100%;
    grid-row-gap: 24px;
}
.resumes-section{
    display: grid;
    grid-template-columns: minmax(0,1fr);
    justify-items: stretch;
    width: 100%;
    grid-row-gap: 16px;
}
.total-resumes-text-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: -16px;
    padding-left: 16px;
}
.total-resumes{
    text-align: start;
    font-family: 'canva-font-2';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-size-adjust: none;
    font-variation-settings: "opsz" 0;
    overflow-wrap: break-word;
    color: rgba(13,18,22,.7);
}
.resumes-container{
    overflow: hidden;
    width: 100%;
}
.resumes-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    column-gap: 16px;
}
.blank-resume-container{
    display:flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.blank-container-relative{
    padding-bottom: calc(141.429%);
    margin-bottom: 48px;
    position: relative;
}
.blank-container-absolute{
    position: absolute;
    width: 100%;
    height: 100%;
}
.extra-div{
    width: 100%;
    height: 100%;
}
.blank-container-flex{
    background-color: rgba(64,87,109,.07);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid rgba(57,76,96,.15);
    display: flex;
    align-items: center;
}
.blank-contents{
    display: grid;
    grid-template-columns: minmax(0,1fr);
    grid-row-gap: 4px;
    justify-items: center;
    width: 100%;
}
.create-icon-container{
    display: inline-flex;
    align-items: center;
    width: 24px;
    height: 24px;
}
.create-icon{
    display: block;
    height: 100%;
    width: 100%;
}
.create-blank-text{
    text-align: center;
    font-family: 'canva-font-2';
    font-size:14px ;
    font-weight: 400;
    line-height: 22px;
    text-size-adjust: none;
    font-variation-settings: "opsz" 0;
    overflow-wrap: break-word;
    color: #0d1216;
}
.resume-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.resume-container{
    height: 100%;
    width: 100%;
    position: relative;
}
.resume-image-section{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image-section-outer-flex{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    isolation: isolate;
    position: relative;
}
.image-relative-container{
    height: 100%;
    width: 100%;
    position: relative;
}
.image-container{
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.image-container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    border: 1px solid rgba(57,76,96,.15);
    border-radius: 8px;
    box-sizing: border-box;
}
.img-r-container{
    max-width: 100%;
    width: 100%;
    position: relative;
}
.img-a-container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
}
.resume-image{
    width: 100%;
    height:100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    position: relative;
}
.resume{
    display: block;
    width: 100%;
}
.image-absolute-container{
    height: 1px;
}
.icon-absolute-container{
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 3;
    display: inline-flex;
    line-height: 16px;
}
.image-btn:first-child{
    display: none;
}
.image-btn{
    width: 24px;
    max-width: 100%;
    height: 24px;
    border-radius: 4px;
    background-color: rgba(17,23,29,.6);
    color: #fff;
    border: 0px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}
.image-icon-container{
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}
.image-icon-container img{
    display: block;
    width: 100%;
    height: 100%;
}

.resume-info-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 8px;
    height: 48px;
}
.resume-logo-section{
    margin: auto 8px auto 0;
    font-size: 10px;
}
.logo-btn{
    border: none;
    background:none;
    outline: none;
    cursor: pointer;
    user-select: none;
    height:100%;
    width: 100%;
}
.logo{
    background: transparent 50% / cover no-repeat;
    background-clip: content-box;
    background-color: #f0f1f5;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 9999px;
    box-shadow: inset 0 0 0 1px rgba(57,76,96,.15);
    overflow: hidden;
}
.resume-description-section{
    min-width: 0;
}
.title{
    color: #0d1216;
    text-align: start;
    font-family: 'canva-font-2';
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-size-adjust: none;
    font-variation-settings: "opsz" 0;
    overflow-wrap: break-word;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sub-title{
    color: rgba(13,18,22,.7);
    text-align: start;
    font-family: 'canva-font-2';
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-size-adjust: none;
    font-variation-settings: "opsz" 0;
    overflow-wrap: break-word;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* .resumes-grid .column:nth-child(n+3):nth-child(-n+5) {
    display: none;
} */
.resumes-grid .column:nth-child(3){
    display: none;
}
.resumes-grid .column:nth-child(4){
    display: none;
}
.resumes-grid .column:nth-child(5){
    display: none;
}


.pagination-section{
    display: grid;
    grid-template-columns: minmax(0,1fr);
    justify-items: center;
    width: 100%;
    grid-row-gap: 16px;
}
.pagination-section nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination-section nav ul li{
    margin: 0 4px;
}
.pagination-number{
    background-color: transparent;
    color: #8b3dff;
    min-width: 40px;
    max-width: 100%;
    height: 40px;
    border-radius: 50%;
    border: 0px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    font-family: 'canva-font-2';
    font-weight: 600;
    font-size: 14px;
    font-variation-settings: "opsz" 0;
    line-height: 22px;
    overflow-wrap: break-word;
}
.pagination-section nav ul li:first-child .pagination-number{
    background-color: #8b3dff;
    color: #fff;
}
.pagination-section nav ul li:nth-child(4){
    display: none;
    width: 40px;
}
.pagination-section nav ul li:last-child .pagination-number{
    border-color: rgba(53,71,90,.2);
    border-width: 2px;
    color: #0d1216;
}
.next-page-icon{
    height: 24px;
    width: 24px;
    display: inline-flex;
    align-items: center;
}
.next-page-icon img{
    display: block;
    height: 100%;
    width: 100%;
}
.main-content-footer{
    background: rgba(64,87,109,.07);
    border-radius: 8px;
    margin-top: 48px;
    padding: 24px;
}
.footer-heading{
    margin-bottom: 8px;
    color: #0d1216;
    text-align: start;
    font-family:'canva-font-2';
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    overflow-wrap: break-word;
    text-size-adjust: none;
    font-feature-settings: "ss02", "ss03";
    font-variation-settings: "opsz" 100;
}
.footer-paragraphs{
    padding-top: 8px;
}
.footer-para{
    margin-bottom: 8px;
    color: rgb(13, 18, 22);
    text-align: start;
    font-family: 'canva-font-2';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    overflow-wrap: break-word;
    text-size-adjust: none;
    font-variation-settings: "opsz" 0;
}
.footer-para:last-child{
    margin-bottom:0px;
}
.footer-resume-text-link{
    color: rgb(139, 61, 255);
    text-decoration: underline;
}

/* -----------------footer section---------------- */
.footer-container{
    margin-top: 32px;
}
.desktop-footer-section{
    display: none;
}
.mobile-footer{
    background: #fff;
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    /* font-family: 'canva-font-2'; */
}
.footer-navbar{
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    border-top: 1px solid rgba(53,71,90,.2);
}
.footer-nav-item{
    background-color: #fff;
    flex-basis: 0;
    flex-grow: 1;
}
.footer-nav-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}
.footer-nav-btn h3{
    color: #0d1216;
    text-align: start;
    font-family: 'canva-font-2';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-size-adjust: none;
    overflow-wrap: break-word;
    font-variation-settings: "opsz" 0;
}
.footer-nav-icon{
    display: inline-flex;
    align-items: center;
    height: 24px;
    width: 24px;
}
.footer-nav-icon img{
    display: block;
    width: 100%;
    height: 100%;
}

.footer-bottom{
    background-color: #fff;
    min-height: 334px;
}
.footer-bottom-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 1px solid rgba(53,71,90,.2);
}
.language-select-box-container{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-auto-flow: row;
}
.select-box{
    display: inline-block;
    max-width: 100%;
}
.select-box-btn{
    display: inline-flex;
    justify-content: start;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(53,71,90,.2);
    border-radius: 8px;
    padding: 0 12px;
    outline: none;
    user-select: none;
    width: 100%;
    max-width: 100%;
    min-width: 80px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
    text-size-adjust:none;
    overflow-wrap: break-word;
}
.network-icon{
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
}
.network-icon img{
    display: block;
    width: 100%;
    height: 100%;
}
.empty-space{
    display: block;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
}
.select-box-btn-text{
    flex: 1;
    padding-right: 8px;
    text-align: start;
    color: #0d1216;
    font-family: 'canva-font-2';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-size-adjust: none;
    font-variation-settings: "opsz" 0;
    overflow-wrap: break-word;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select-box-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}
.select-box-icon img{
    display: block;
    height: 100%;
    width: 100%;
}

.social-media-links-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}
.social-media-link{
    margin-right: 8px;
    cursor: pointer;
    height: 24px;
}
.social-media-link:last-child{
    margin-right: 0px;
}
.social-media-icon{
    display: inline-flex;
    align-items: center;
    width: 24px;
    height: 24px;
}
.social-media-icon img{
    display: block;
    width: 100%;
    height: 100%;
}
.copyright-section-container{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copy-right{
    margin-bottom: 8px;
    color: rgba(13,18,22,.7); 
    text-align: center;
    font-family: 'canva-font-2';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-size-adjust: none;
    font-variation-settings: "opsz" 0;
    overflow-wrap: break-word; 
}
.copy-right-bottom{
    display: grid;
    grid-gap: 8px;
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.copy-right-link{
    color:#0d1216; 
    text-align: center;
    font-family: 'canva-font-2';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-size-adjust: none;
    font-variation-settings: "opsz" 0;
    overflow-wrap: break-word; 
}
/* ------------ media queries ----------- */
@media screen and (min-width: 600px){

    /* ------------header-------------- */
    .header-container{
        padding: 0 32px;
        /* padding-right: 48px; */
    }
    .hamburger-menu-container{
        margin-right: 16px;
        margin-left: 0;
    }
    .canva-logo-container{
        width: 80px;
        min-width: 80px;
    }
    .header-searchbar-container{
        margin-left: 16px;
        margin-right: auto;
    }
    .header-buttons-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap:16px ;
        flex-shrink: 0;
        margin-left: 16px;
    }
    .btn{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: none;
        height: 40px;
        max-width: 100%;
        min-width: 80px;
        vertical-align: middle;
        border-radius: 8px;
        cursor: pointer;
        font-family: 'canva-font-2';
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        font-variation-settings: "opsz" 0;
    }
    .login-btn{
        padding: 0 15px;
        background-color: rgba(13,18,22,0);
        border: 1px solid rgba(53,71,90,.2);
    }
    .signup-btn{
        padding: 0 16px;
        background-color: #8b3dff;
        border: 0px solid transparent;
    }
    .header-btn-text{
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: auto;
        font-family: 'canva-font-2';
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: normal;
        font-variation-settings: "opsz" 0;
    }
    .login-text {
        color: #0d1216;
    }
    .signup-text{
        color: #fff;
    }

    .main-contents-container{
        padding-top: 16px;
    }

    .main-home-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main-home-nav nav{
        overflow: hidden;
    }
    .main-home-nav nav ol{
        display: flex;
        list-style: none;
        overflow-x: auto;
        scrollbar-width: none;
        margin-left: -16px;
        margin-right: -16px;
    }
    .main-nav-list-item{
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .main-nav-list-item:first-child{
        padding-left: 16px;
    }
    .main-nav-list-item:last-child{
        padding-right: 16px;
        flex: 1 0 16px;
    }
    .list-item-text{
        color: #0d1216;
        text-align: start;
        display: block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: auto;
        font-family: 'canva-font-2';
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-size-adjust: none;
        font-variation-settings: "opsz" 0;
        overflow-wrap: break-word;
    }
    .main-nav-right-arrow{
        display: inline-flex;
        align-items: center;
        width: 24px;
        min-width: 16px;
        height: 24px;
        margin: 0 8px;
        color: #0d1216;
    }
    .main-nav-right-arrow img{
        display: block;
        height: 100%;
        width: 100%;
    }

    .main-head-flex-container{
        min-height: 248px;
    }
    .head-content-container{
        min-width: 60%;
        flex-basis: 0%;
        padding: 32px;
    }
    .head-content{
        grid-row-gap: 16px;
    }
    .heading{
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
    }

    .head-image-container{
        display: block;
        flex: 1;
        position: relative;
    }
    .head-image-flex-container-1{
        display: flex;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .head-image-flex-container-2{
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        height: 100%;
    }
    .head-image-relative-container{
        position: relative;
        overflow: hidden;
        isolation: isolate;
        background-size: contain;
    }
    .actual-image-absolute-container{
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 0 0;
        mix-blend-mode: multiply;
    }
    .actual-image-container{
        overflow: hidden;
    }
    .actual-image{
        object-fit: fill;
    }
    
    .main-head-grid-container{
        grid-gap: 32px;
    }
    .main-content-grid{
        grid-gap:32px;
    }
    
    .filters-sticky-container{
        margin: 0 -32px 0 -16px;
        padding: 0 32px 0 16px;
    }
    .filters-section-wrapper{
        padding-top: 0;
    }
    
    .section-nav-container{
        margin: 0;
    }
    .nav-item-container:first-child{
        padding-left: 0;
    }


    .image-btn:first-child{
        display: flex;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .image-btn{
        width: 32px;
        height: 32px;
        padding: 0 8px;
        border-radius: 8px;
    }
    .image-icon-container{
        width: 24px;
        height: 24px;
    }
    .image-btn:last-child{
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: 1px;
    }


    .sliding-btn{
        display: flex;
        align-items: center;
        background-color: transparent;
        color: #0d1216;
        border: 0;
        user-select: none;
        cursor: pointer;
        position: absolute;
        top: -1px;
        bottom: -1px;
        width: 24px;
        z-index: 1;
    }
    .next{
        justify-content: flex-end;
        right: -1px;
    }
    .next::before{
        content: '';
        position: absolute;
        right: 0;
        width: 24px;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(to right, hsla(0,0%,100%,0), #fff);
    }
    .prev{
        display: none;
        justify-content: flex-start;
        left: -1px;
    }
    .prev::before{
        content: '';
        position: absolute;
        left: 0;
        width: 24px;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(to left, hsla(0,0%,100%,0), #fff);
    }
    .arrow-icon-container{
        position: relative;
        top: 0px;
        width: 24px;
        height: 24px;
        display: inline-flex;
        align-items: center;
    }
    .right{
        right: -7px;
    }
    .left{
        left: -7px;
    }
    .arrow-icon-container img{
        display: block;
        width: 100%;
        height: 100%;
    }


    .resumes-grid{
        grid-template-columns: repeat(3, minmax(0px, 1fr));
        column-gap: 24px;
    }
    .resumes-grid .column:nth-child(3){
        display: block;
    }

    .footer-heading{
        font-size: 24px;
        line-height: 32px;
    }
    .footer-nav-btn h3{
        font-size: 18px;
    }

    .footer-container{
        margin-top: 64px;
    }

}

@media screen and (min-width:900px){

    /* --------------header------------------- */
    .header-contents-container{
        padding: 8px 0;
    }
    .hamburger-menu-container{
        display: none;
    }
    .header-nav-container{
        display: block;
        flex:1 1 auto;
        width: 100%;
        max-width: max-content;
        min-width: 0;
        margin-left: 16px;
        margin-right: 48px;
        display: flex;
        position: relative;
    }
    .header-nav-container nav{
        overflow-x: visible;
        position: relative;
        width: 100%;
    }
    .header-nav-container nav ul {
        display: flex;
        font-family: 'canva-font-2';
        font-size: 14px;
        font-variation-settings: "opsz" 0;
        font-weight: 400;
        line-height: 22px;
        overflow-wrap: break-word;
    }
    .nav-list-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        margin-right: 4px;
        position: relative;
    }
    .nav-list-item::after{
        content: '';
        width: 100%;
        height: calc(100% + 32px);
        position: absolute;
        left: 0;
    }
    .nav-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: auto;
        max-width: 100%;
        height: 40px;
        vertical-align: middle;
        padding: 0;
        padding-left: 12px;
        padding-right: 12px;
        word-break: keep-all;
        overflow-wrap: break-word;
        cursor: pointer;
        background-color: rgba(13,18,22,0);
        color: #0d1216;
        border: 0px solid transparent;
        border-radius: 8px;

        transition: background-color .1s linear, border-color .1s linear, color .1s linear;
        font-family: 'canva-font-2';
        font-size: 14px;
        font-variation-settings: "opsz" 0;
        font-weight: 600;
        line-height: 22px;
    }
    .nav-btn-content-container{
        margin: auto;
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .nav-btn-content{
        display: flex;
        align-items: center;
    }
    .nav-btn-text-container{
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: 'canva-font-2';
        font-variation-settings: "opsz" 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        overflow-wrap: break-word;
        white-space: nowrap;
    }
    .hidden-text{
        font-weight: 700;
        overflow: hidden;
        height: 0;
        pointer-events: none;
        user-select: none;
    }
    .nav-btn-icon{
        margin-left: 2px;
        width: 24px;
        height: 24px;
        display: inline-flex;
        align-items: center;
    }
    .nav-btn-icon img{
        display: block;
        width: 100%;
        height: 100%;
    }
    .nav-btn-hide{
        visibility: hidden;
    }

    .nav-last-list-item{
        display: block;
        list-style: none;
    }
    .show-more-btn-container{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(165px, -50%);
    }
    .show-more-btn{
        height: 38px;
        width: 38px;
        max-width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        vertical-align: middle;
        border-radius: 8px;
        background-color: rgba(13,18,22,0);
        border: 0px solid transparent;
        padding: 0 16px;
    }
    .show-more-btn-icon-container{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }
    .show-more-btn-icon-container img{
        display: block;
        height: 100%;
        width: 100%;
    }

    .header-searchbar-container{
        margin-left: auto;
        min-width: 240px;
    }

    .resumes-grid{
        grid-template-columns: repeat(4, minmax(0px, 1fr));
        column-gap: 24px;
    }
    .resumes-grid .column:nth-child(4){
        display: block;
    }

    .pagination-section nav ul li:nth-child(4){
        display: block;
        width: 40px;
    }
    .pagination-dots{
        color: #0d1216;
        text-align: center;
        font-family: 'canva-font-2';
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        text-size-adjust: none;
        font-variation-settings: "opsz" 0;
        overflow-wrap: break-word;

    }


}

@media screen and (min-width:967px){
    .header-nav-container nav ul .nav-list-item:nth-child(2) {
        visibility: visible;
    }
    .show-more-btn-container{
        transform: translate(279px,-50%);
    }
}

@media screen and (min-width:1090px){
    .header-nav-container nav ul .nav-list-item:nth-child(3){
        visibility: visible;
    }
    .show-more-btn-container{
        transform: translate(403px, -50%);
    }
}

@media screen and (min-width:1200px){

    .resumes-grid{
        grid-template-columns: repeat(5, minmax(0px, 1fr));
        column-gap: 24px;
    }
    .resumes-grid .column:nth-child(5){
        display: block;
    }
}

@media screen and (min-width:1261px){
    .header-nav-container nav ul .nav-list-item:nth-child(4){
        visibility: visible;
    }
    .show-more-btn-container{
        transform: translate(574px, -50%);
    }
}

@media screen and (min-width:1316px){
    .header-nav-container nav ul .nav-list-item:nth-child(5){
        visibility: visible;
    }
    .show-more-btn-container{
        transform: translate(0px, -50%);
    }
    .nav-last-list-item{
        display: none;
    }
}